listaingressi/data/lista_ingressi_salvata.pickle
listaabbonamenti/data/lista_abbonamenti_salvata.pickle
listaallenatori/data/lista_allenatori_salvata.pickle
listaclienti/data/lista_clienti_salvata.pickle
listacorsi/data/lista_corsi_salvata.pickle
listadiete/data/lista_diete_salvata.pickle
listanutrizionisti/data/lista_nutrizionisti_salvata.pickle
listaricevute/data/lista_ricevute_salvata.pickle
listaschede/data/lista_schede_salvata.pickle
listautenti/data/lista_utenti_salvata.pickle
listavisite/data/lista_visite_salvata.pickle